/* nav */
.right {
    float: right;
}

.left {
    float: left;
}

#nav {
    display: block;
    background-color: none;
    display: inline-block;
    width: 60vw;
    border: 7px solid #0f5b0b;
    border-radius: 35px;
    margin: 6px;
    padding: 7px;
}


/* main */

body {
    font-family: 'Garamond', arial;
    background-color: #ddd720;
    font-size: larger;
    background-image: url("https://www.teahub.io/photos/full/17-177012_desktop-backgrounds-lion-king.jpg");
        
       
}

#quiz2 {
    text-align: center;
    padding: 12vh;
}

h4 {
    padding: 10px 8px 10px 8px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: #0f5b0b;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 35px;
    font-family: 'Garamond', arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #ff80a4;
}

#quiz {
    text-align: left;
    padding: 0px 400px;
}